nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0px 20px;
  font-size: 1.3rem;
}

#username {
  margin-right: 20px;
}

fa-icon:hover {
  cursor: pointer;
  color: black;
}
