/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~ngx-toastr/toastr';

* {
  outline: none !important;
  transition: all 0.1s ease-out;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ng-valid.ng-touched {
  border-color: green;
}

.ng-invalid.ng-touched {
  border-color: red;
}
