<app-nav></app-nav>

<div class="container">
  <form [formGroup]="add" (submit)="onSubmit()">
    <label for="name">Subreddit:* </label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter subreddit"
        formControlName="name"
      />
      <div class="input-group-append">
        <fa-icon
          class="input-group-text"
          id="loading"
          [icon]="faCircleNotch"
          [spin]="true"
        ></fa-icon>
        <fa-icon class="input-group-text" id="valid" [icon]="faCheck"></fa-icon>
        <fa-icon
          class="input-group-text"
          id="invalid"
          [icon]="faTimes"
        ></fa-icon>
      </div>
    </div>

    <div class="error" *ngIf="add.get('name').errors?.subredditValid">
      This subreddit does not exist
    </div>

    <label for="keywords">Keywords:* (seperated with a space)</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="keywords"
        placeholder="programming javascript monney"
        formControlName="keywords"
      />
    </div>

    <label for="answer">Answer:* </label>
    <div class="input-group">
      <textarea
        type="text"
        class="form-control"
        id="answer"
        placeholder="Your answer ..."
        formControlName="answer"
      ></textarea>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="active"
        [value]="true"
        formControlName="active"
      />
      <label class="form-check-label" for="active">
        Active
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="notActive"
        [value]="false"
        formControlName="active"
      />
      <label class="form-check-label" for="notActive">
        Not active
      </label>
    </div>

    <div class="buttons">
      <button
        type="button"
        class="btn btn-outline-primary"
        [routerLink]="['/dashboard']"
      >
        Cancle
      </button>

      <button [disabled]="!add.valid" type="submit" class="btn btn-primary">
        Save
      </button>
    </div>
  </form>
</div>
